.scroll-container {
  height: 100%;
  overflow: hidden;
}

.scroll-text {
  white-space: nowrap;
  font-size: 20px;
  animation: rotate 10s linear infinite;
  text-align: center;
  /*animation: marquee 10s linear infinite;*/
}
@keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  50%{
      transform: rotate(180deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
/* @keyframes marquee {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
} */

div {
  border: 1px solid;
  padding: 10px;
}

div.last {
  padding: 0px;
  align-content: center;
}